body {
    text-align:center;
    font-family: monospace,sans-serif;
    font-size:2.5rem;
}
h1 {
    margin-top:0;
    margin-bottom: 70px;
    color: #d9d9d9;
    font-size: 1.5em;
    border-radius: .25rem;
    padding: 1rem;
    background-color: #000;
    border: solid 4px #BDD752;
    line-height: 1em;
}
a:hover,a:focus{
    text-decoration: none;
}
.status-box{
    border:solid 2px #999999;
    border-radius:3px;
    box-shadow: 0px 0px 12px #000;
    margin-bottom: 1em;
}
.status-box h2{
    font-size: 1.25em;
}
.Red,.failed{
    background-color:#ff8d00;
    color:#ffffff;
}
.Green,.success{
    background-color:#006600;
    color:#ffffff;
}

.alert-table{
    /*margin:0 12px;*/
    table-layout: fixed;
}

.alert-table td{
    font-size:15px;
    height:30px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    border: 1px solid #777 !important;
}

.alert-table th{
    height:30px;
    text-align:center;
    width:3%;
    border: 1px solid #777 !important;
    background-color: #eee;
}
.alert-table tr{
    height:40px;
}

.hasTooltip p {
    display: none;
    color: #000;
    text-decoration: none;
    padding: 3px;
}
.hasTooltip:hover{
    cursor: default;
}
.hasTooltip:hover p {

    display: block;
    position: absolute;
    background-color: #FFF;
    border: 1px solid #CCC;
    margin: 2px 10px;
    white-space: normal;

}

.progress {
    margin: 0 13px 20px 13px;
}

.jobs-status {
    padding-bottom:1px;
}

.date-picker {
    margin: 0 auto;
    width: 75%;
    font-size: 0.7em;
}
.hasDatepicker {
    width:85%;
    /*line-height: normal;*/
    background: url(/assets/images/calendar.png);
    /* float: right; */
    background-repeat: no-repeat;
    background-position-x: right;
    background-size: contain;
}
.date-picker label{
    float:left;
    width:100%;
}

.date-picker p {
    width: 90%;
    display: inline-block;
    font-size: 0.6em;
}

div.ui-datepicker{ font-size:0.5em; }

#dateButton {
    border: solid 2px #337ab7;
    padding: 5px;

}

#dateButton:hover {
    text-decoration: none;
    background-color: #337ab7;
    color: white;
}

#hourlyBox:hover .status-box {
    /*background-color: #48a529;*/
    color:black;
    font-weight: bold;
}

#hourlyBox:hover .status-box h2 {
    font-weight: bold;
}
.data-box:hover .Green.status-box {
    background-color: #48a529;

}
.data-box:hover .Red.status-box {
    background-color: #ef680e;


}

#dailyBox:hover .status-box {
    /*background-color: #ef680e;*/
    color:black;
    font-weight: bold;
}

#dailyBox:hover .status-box h2 {
    font-weight: bold;
}

#getData {
    text-decoration: none;
    background-color: #337ab7;
    color: white;
    display: inline-block;
    margin-top: 7px;
    font-size: 1.3em;
}

.data-col {
    margin-bottom: 15px;
}

.select-type {
    padding: 3px;
    width:85%;
}
#printLogo {
    float: right;
    width: 36px;
    cursor: pointer;
    margin-top: -52px;
    margin-right: 5px;
}   


@media only screen and (max-device-width: 768px){

    .alert-table {
        table-layout: auto;
    }

    .alert-table td {
        white-space: normal;
        overflow: auto;
    }

    .date-picker label {
        display: block;
        width: 100%;
    }

    
    .date-picker p {
        display: block;
    }
    .hasDatepicker {
        width: 70%;
    }
    .select-type {
        width:70%;
    }
    .table-responsive>.table>tbody>tr>td:last-child,.table-responsive>.table>tbody>tr>th:last-child {
        width: 300px;
        white-space: normal;
    }
   
}
.table-responsive {
    margin-left: -7px;
    margin-right: -7px;
}